
.container
{
height: 400px;
background-image: url('https://www.norwegian.com/globalassets/ip/media/front/header/usa-los-angeles-skyline-sunset-467972415-1930x400.jpg?w=2560');
background-repeat: no-repeat;
background-position: center; 
position: relative;
}


footer
{
background-color: yellow;
width: 100%;
height: 170px;
}


.form
{
padding-left: 40%;
padding-top: 10%;
width: 270px;
height: 100px;
}